@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


:root {
    --white: #fff;
    --black: rgba(31, 22, 22, 0.863);
    --main: rgba(7, 175, 105, 0.76);
}

* {
    font-family: 'Roboto';
    color: var(--black);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s linear;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;

}

/* HEADER */

header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .5rem;
    background-color: var(--white);
    z-index: 1000;
}

header a.logo {
    top: 0;
    left: 0;
    height: 96px;
    width: 126px;
    padding: 1rem 1rem;
    margin-right: auto;


}

header a.logo img {
    display: block;
    width: 100%;
    height: 100%;
}

nav {
    z-index: 1;
    padding: 1.5rem 1.5rem;
}

nav a {
    font-size: 1.8rem;
    margin-left: .2rem;
    margin-right: .2rem;
    padding: .9rem .9rem;
}

nav a:hover {
    color: var(--main);
}

header .icons {
    font-size: 2.5rem;
    padding: 1.5rem 1.5rem;

}

header .icons .fa-search {
    padding: 1rem 1rem;
    cursor: pointer;
}

header .fa-search:hover {
    color: var(--main);
}

header .icons .fa-bars {
    padding: 1rem 1rem;
    cursor: pointer;
    display: none;
}

header .fa-bars:hover {
    color: var(--main);
}

header .search-form {
    display: flex;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0%;
    height: 5rem;
    width: 100%;
    align-items: center;
    padding: .5rem 1rem;
    transform: scaleY(0);
    transform-origin: top;
}

header .search-form input {
    font-size: 1.8rem;
    height: 100%;
    width: 100%;
}

header .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin: 0 auto;
    padding: 1rem 1rem;
}

header .search-form.active {
    transform: scaleY(1);
}

/* HOME */

.swiper-slide {
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    color: var(--black);

    flex-direction: column;
    padding-top: 15rem;
    padding-bottom: 6rem;
    padding-right: 13rem;
    padding-left: 8rem;
}


.swiper-slide h1 {
    font-size: 5rem;
    padding: 2rem 1.5rem;
    text-transform: lowercase;
}

.swiper-slide h1 span {
    text-transform: lowercase;
    color: var(--main);
}

.swiper-slide p {
    width: 40rem;
    height: 16rem;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    line-height: 2.5rem;
    color: var(--white);
    text-align: centers;
}

.swiper-slide a {
    font-size: 2.5rem;
    margin: 2rem 2rem;
    padding: 1.5rem 2rem;
    border: 3px solid var(--white);
    color: var(--white);
    border-radius: 2rem;
    text-align: center;
}

.swiper-slide a:hover {
    border: 3px solid var(--main);
    color: var(--main);
}

.swiper-slide:nth-of-type(3) {

    background-image: url(./images/image_7.jpg);
    justify-content: center;
    align-items: center;
}

.swiper-slide:nth-of-type(2) {

    background-image: url(./images/image_4.jpg);
    justify-content: center;
}

.swiper-slide:nth-of-type(2) p {
    color: var(--black);
}


.swiper-slide:nth-of-type(2) a {
    color: var(--black);
    border: 3px solid var(--black);
}

.swiper-slide:nth-of-type(2) a:hover {
    border: 3px solid var(--main);
    color: var(--main);
}

.swiper-slide:nth-of-type(1) {

    background-image: url(./images/image_2.jpg);
    justify-content: center;
    align-items: flex-start;

}

.swiper-slide:nth-of-type(1) p {
    color: var(--black);
}

.swiper-slide:nth-of-type(1) h1 {
    color: var(--black);
}

.swiper-button-next,
.swiper-button-prev {
    font-weight: bold;
    color: var(--white);
}


/* LAST MINUTE */

.packages {
    padding: 2% 7%;

}

.packages h1 {
    font-size: 3rem;
    padding: 2rem 1rem;
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--main);
}


.packages .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;

}

.packages .box-container .box {
    flex-basis: 40rem;
    flex-shrink: 1;
    flex-grow: 1;
    box-shadow: 0 1rem 2rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

.packages .box-container .box:hover img {
    scale: 1.1;
    overflow: hidden;
}

.packages .box-container .box img {
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.packages .box-container .box .content {
    padding: 1rem 2rem;
}

.packages .box-container .box .content h2 {
    color: var(--black);
    font-size: 2rem;
    padding-top: 1rem;
}

.packages .box-container .box .content .stars i {
    color: var(--main);
    padding: 1rem 0;
    font-size: 1.5rem;
}

.packages .box-container .box .content .price {
    font-size: 2rem;
}

.packages .box-container .box .content .price span {
    text-decoration: line-through;
    font-size: 1.5rem;
}

.packages .box-container .box a {
    border: 2px solid black;
    border-radius: 0.7rem;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    position: absolute;
    top: 78%;
    left: 45%;
    width: auto;
}

.packages .box-container .box a:hover {
    letter-spacing: 0.3rem;
    color: var(--main);
    border-color: var(--main);
}

/* DESTINATIONS  */

.destinations h1 {
    font-size: 3rem;
    padding: 2rem 1rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--main);
}


.destinations .box-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 27rem);
    gap: 1.5rem;
    padding: 2% 7%;
}


.destinations .box-container h2 {
    font-size: 3rem;
    padding: 1rem 2rem;
    position: absolute;
    color: var(--white);
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.destinations .box-container .box-content {
    /* display: flex; */
    position: relative;
    border: 2px solid var(--main);
    overflow: hidden;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0);
}

.destinations .box-container .box-content:hover h2 {
    opacity: 0;
}

.destinations .box-container .box-content:hover img {
    opacity: 1;
}


.destinations .box-container .box-content:nth-of-type(1) {
    grid-column: 1/3;
}

.destinations .box-container .box-content:nth-of-type(2) {
    grid-column: 3/4;
}

.destinations .box-container .box-content:nth-of-type(3) {
    grid-column: 4/6;
}

.destinations .box-container .box-content:nth-of-type(4) {
    grid-column: 1/2;
}

.destinations .box-container .box-content:nth-of-type(5) {
    grid-column: 2/4;
}

.destinations .box-container .box-content:nth-of-type(6) {
    grid-column: 4/6;
    grid-row: 2/4;
}

.destinations .box-container .box-content:nth-of-type(7) {
    grid-column: 1/3;
}

.destinations .box-container .box-content:nth-of-type(8) {
    grid-column: 3/4;
}


.destinations .box-container .box-content img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: fill;
    object-position: center;
    opacity: 0.5;
}


/* SERVICES */

.services h1 {
    font-size: 3rem;
    padding: 1rem 1rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--main);
    margin: 1rem;
}

.services .box-container {
    display: flex;
    text-align: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 3% 7%;
}

.services .box-container .box {
    flex-basis: 45rem;
    flex-grow: 1;
    padding: 1.5rem;
    border: 4px solid var(--main);
    border-radius: 2rem;
}


.services .box-container i {
    font-size: 4rem;
    padding: 1rem;
    color: var(--main);
}

.services .box-container h3 {
    font-size: 2.5rem;
    padding: 1rem;

}

.services .box-container p {
    font-size: 1.6rem;
    padding: 1rem;
    line-height: 2.2rem;
}


/* REVIEWS */

.reviews {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 2rem;
    padding: 7% 7%;
}

.reviews .box-main {
    flex: 1 1 30rem;
    padding: 20rem 2rem;
}

.reviews .box-main h3 {
    font-size: 3rem;
    padding: 2rem 2rem;
    color: var(--main);
}

.reviews .box-main p {
    font-size: 1.7rem;
    line-height: 2rem;
}

.reviews .box-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 62rem;
    border-radius: 2rem;
    padding: 1rem;
    border: 3px solid var(--main);
}

.reviews .box-container .box-client {
    flex-basis: 30rem;
    flex-shrink: 1;
    flex-grow: 1;
    padding: 1rem;
    border-radius: 2rem;
    color: white;
    background-color: var(--main);
    margin: 1rem;
}

.reviews .box-client img {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    padding: 1rem;
}

.reviews .box-container .box-client .client-name {
    font-size: 2rem;
    padding: 1rem;
    color: var(--white);
}

.reviews .box-container .box-client p {
    font-size: 1.6rem;
    padding: 1rem;
    line-height: 2rem;
    font-weight: lighter;
    color: var(--black);
    font-style: italic;
}

/* FOOTER  */

.footer {
    display: flex;
    /* text-align: center; */
    gap: 1.5rem;
    flex-wrap: wrap;
    background-color: var(--black);
    color: var(--white);
    padding: 2rem 2rem;
}

.footer .share {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 10rem;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    color: var(--white);
}

.footer .share a {
    padding: 2rem;
    color: var(--white);
}

.footer .share a:hover {
    color: var(--main);
}

.footer .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 30rem;
    padding: 1rem 2rem;
}

.footer .links a {
    padding: 1rem;
    font-size: 2rem;
    color: var(--white);
}

.footer .links a:hover {
    color: var(--main);
}

.footer .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1 1 30rem;
    padding: 1rem;
    font-size: 2rem;
}

.footer .subscribe h2 {
    color: var(--white);
    padding: 1rem;
}

.footer .subscribe form .email {

    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 2rem;
}

.footer .subscribe form .sub-btn {
    padding: 1rem;
    font-size: 1.7rem;
    margin: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

.footer .subscribe form .sub-btn:hover {
    color: var(--main);
}

/* BANER  */
.baner {
    background-image: url(./images/zakhyntos.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 1rem;
}

.baner .content {
    text-align: center;
    font-size: 2rem;
    padding: 5rem 2rem;
}

.baner .content h2 {
    color: var(--white);
    padding: 1rem;
    margin: 4rem 1rem;
}

.baner .content .baner-btn {
    color: var(--white);
    padding: 2rem;
    border-radius: 2rem;
    border: 2px solid var(--white);
    font-size: 2rem;
    margin: 2rem;
}

.baner .content .baner-btn:hover {
    letter-spacing: 0.5rem;
}

/* MEDIA  */

@media (max-width:991px) {
    html {
        font-size: 57%;
    }

    header a.logo {
        height: calc(96px*0.8);
        width: calc(126px*0.8);
    }

    .reviews .box-main {
        flex: 1 1 30rem;
        padding: 5rem 2rem;
    }

    .packages .box-container .box {
        flex-basis: 30rem;
    }


}



@media (max-width:768px) {

    html {
        font-size: 55%;
    }

    header a.logo {
        height: calc(96px*0.8);
        width: calc(126px*0.8);
    }

    header nav {
        position: absolute;
        top: 100%;
        right: -100%;
    }

    header nav.active {
        right: 0%;
    }

    nav a {
        display: block;
        padding: 2.5rem 3rem;
        text-align: center;
    }

    .destinations .box-container {

        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 27rem);

    }

    .destinations .box-container .box-content:nth-of-type(1) {
        grid-column: 1/3;
    }

    .destinations .box-container .box-content:nth-of-type(2) {
        grid-column: 3/6;
    }

    .destinations .box-container .box-content:nth-of-type(3) {
        grid-column: 1/4;
    }

    .destinations .box-container .box-content:nth-of-type(4) {
        grid-column: 1/3;
    }

    .destinations .box-container .box-content:nth-of-type(5) {
        grid-column: 3/6;
    }

    .destinations .box-container .box-content:nth-of-type(6) {
        grid-column: 4/6;
        grid-row: 2/3;

    }

    .destinations .box-container .box-content:nth-of-type(7) {
        grid-column: 1/4;
    }

    .destinations .box-container .box-content:nth-of-type(8) {
        grid-column: 4/6;
    }

    header .icons .fa-bars {
        padding: 1rem 1rem;
        cursor: pointer;
        display: inline-block;
    }

    header nav {
        background-color: var(--white);
    }

    header nav a {
        font-size: 2.5rem;
    }
}





@media (max-width:450px) {
    html {
        font-size: 55%;
    }

    .swiper-slide p {
        width: 30rem;
        padding: 1.5rem 1.5rem;
        margin: 1rem;

    }

    .swiper-slide a {
        font-size: 2.5rem;
        margin: 4rem 2rem;
    }

    .swiper-slide:nth-of-type(3) {
        align-items: flex-start;
    }

    .destinations .box-container .box-content:nth-of-type(1) {
        grid-column: 1/6;
    }

    .destinations .box-container .box-content:nth-of-type(2) {
        grid-column: 1/6;
    }

    .destinations .box-container .box-content:nth-of-type(3) {
        grid-column: 1/6;
    }

    .destinations .box-container .box-content:nth-of-type(4) {
        grid-column: 1/6;
    }

    .destinations .box-container .box-content:nth-of-type(5) {
        grid-column: 1/6;
    }

    .destinations .box-container .box-content:nth-of-type(6) {
        grid-column: 1/6;

    }

    .destinations .box-container .box-content:nth-of-type(7) {
        grid-column: 1/6;
    }

    .destinations .box-container .box-content:nth-of-type(8) {
        grid-column: 1/6;
    }

    .footer .links {
        flex: 1 1 20rem;
    }

}